@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

button {
  cursor: pointer;
}

/* Header */

header {
  height: 172px;
}

.top-header {
  display: flex;
  height: 92px;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
}

.navigation ul li {
  display: flex;
  font-size: 14px;
  font-family: roboto;
  list-style: none;
  margin: 5px;
}

.navigation ul {
  display: flex;
}

.navigation ul li a {
  text-decoration: none;
  color: #f14d54;
  margin: 0 10px;
}

.right-nav {
  display: flex;
  margin-left: 600px;
}

.cart {
  color: #f14d54;
  display: flex;
  border: 1px solid rgba(65, 65, 65, 0.3);
  border-radius: 1px;
  padding: 5px;
}

.cart img {
  fill: #f14d54;
  width: 20px;
  margin: 0 5px 0 5px;
}

.logo {
  width: 160px;
  margin-right: 120px;
}

.cart span {
  display: flex;
}

.login {
  border-right: 1px solid rgba(65, 65, 65, 0.3);
}

.search-bar {
  background-color: rgba(65, 65, 65, 0.1);
  height: 80px;
}

/*  search bar */

.search-and-btn {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}

.btn-green {
  height: 40px;
  font-size: 16px;
  width: 129px;
  border: none;
  background-color: #80bf32;
  color: white;
  border-radius: 4px;
}

.btn-red {
  background-color: #f14d54;
  font-size: 16px;
  height: 40px;
  border: none;
  color: white;
  width: 129px;
  border-radius: 4px;
}

.search-bar .input input {
  width: 422px;
  height: 38px;
  outline: none;
  font-size: 16px;
  padding: 0 0 0 5px;
  color: rgb(33, 33, 33);
  font-family: roboto;
  border-radius: 2%;
  font-style: italic;
  border: 2px solid rgba(65, 65, 65, 0.3);
}

.search-bar .input {
  margin: 0 5px 0 0;
}

.btn {
  padding: 10px;
  margin: 0 5px;
}

.search-btn {
  display: flex;
  align-items: center;
}

input:focus {
  outline: none;
}

.btn-green img {
  vertical-align: middle;
}

/* main content */

/* top main bar */

.main-top {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  font-size: 18px;
  color: #414141;
  font-weight: 400;
}

.main-top img {
  margin: 0 8px;
  width: 10px;
  padding-top: 5px;
}

.main-ack-login {
  color: #f14d54;
}

.main-top span {
  font-weight: 300;
}

.main-task-ack {
  font-size: 32px;
  font-family: roboto;
  text-align: center;
  font-weight: 800;
  color: #414141;
}

/* new customers */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-new-customer {
  padding-bottom: 20px;
  margin-top: 75px;
  font-size: 20px;
  font-family: roboto;
  color: #414141;
  font-weight: 600;
  border-bottom: 2px solid rgba(65, 65, 65, 0.3);
  padding-right: 380px;
  margin-right: 30px;
}

.instruction-new-customer-heading {
  font-size: 15px;
  font-family: "roboto";
  color: #838383;
  margin-top: 20px;
  font-weight: 300;
}

.btn-new-customer {
  width: 220px;
  height: 45px;
  background-color: #f14d54;
  color: white;
  border: none;
  border-radius: 3%;
  font-size: 17px;
  margin-top: 130px;
}

.new-customer-ul li {
  font-size: 15px;
  font-family: roboto;
  color: #212121;
  margin-bottom: 10px;
}

.new-customer-ul {
  margin-top: 20px;
}

/* registered customers */

.register-customer-heading {
  font-size: 20px;
  font-family: roboto;
  color: #414141;
  font-weight: 600;
  padding-bottom: 21px;
  padding-top: none;
  border-bottom: 2px solid rgba(65, 65, 65, 0.3);
  margin-top: 47px;
  padding-right: 360px;
}

.ack-register-customer {
  font-size: 15px;
  font-family: "roboto";
  color: #838383;
  margin-top: 20px;
  font-weight: 300;
}

.register-customer {
  margin-top: 26px;
}

.login-form {
  font-size: 15px;
  font-family: roboto;
  color: #212121;
  font-weight: 600;
  margin-top: 20px;
}

.btn-registered-customer {
  width: 100px;
  height: 45px;
  background-color: #f14d54;
  color: white;
  border: none;
  border-radius: 3%;
  font-size: 17px;
  margin-top: 38px;
}

#email,
#password {
  display: block;
}

#email {
  margin-bottom: 40px;
}

.login-form input {
  border: none;
  border: 2px solid rgba(65, 65, 65, 0.3);
  width: 370px;
  height: 30px;
  margin-top: 15px;
}

/* footer css */

footer .footer-logo img {
  width: 140px;
  margin: 40px 0 20px 0;
}

footer {
  text-align: center;
  margin-top: 80px;
  background-color: rgba(65, 65, 65, 0.1);
  height: 140px;
}

.footer-copy {
  font-size: 15px;
  color: #838383;
  font-family: "roboto";
  margin-bottom: 40px;
  font-weight: 300;
}

/* register page content */

.personal-info input {
  border: none;
  border: 1px solid rgba(65, 65, 65, 0.3);
}

.login-info input {
  border: none;
  border: 1px solid rgba(65, 65, 65, 0.3);
}

#login-email {
  display: block;
}

.register-main {
  margin: 75px 290px;
}

.first-last-name {
  display: flex;
}

.first-last-name input {
  display: block;
}

.login-pass {
  display: flex;
}

.login-pass input {
  display: block;
}

.register-up {
  border-bottom: 1px solid rgba(65, 65, 65, 0.3);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.register-up,
.login-info-heading {
  font-size: 20px;
  font-family: roboto;
  color: #414141;
}

.register-ack {
  font-size: 15px;
  font-family: roboto;
  font-weight: 300;
  color: #838383;
  margin-bottom: 20px;
}

.first-name-input label,
.last-name-input label,
.personal-info label,
.password-1-register label,
.password-2-register label {
  font-size: 15px;
  font-family: roboto;
  color: #414141;
  margin-bottom: 15px;
}

#firstname,
#lastname,
#login-password,
#password2 {
  width: 540px;
}

#login-email {
  width: 1105px;
}

.last-name-input,
.password-2-register {
  margin-left: 25px;
}

#login-email,
#firstname,
#lastname,
#login-password,
#password2 {
  height: 30px;
  margin-top: 15px;
  font-size: medium;
  font-family: roboto;
}

#firstname,
#lastname {
  margin-bottom: 40px;
}

#login-email {
  margin-bottom: 70px;
}

.register-form-button {
  border: none;
  color: white;
  width: 136px;
  height: 45px;
  background-color: #f14d54;
  font-size: 20px;
  font-family: roboto;
}

.login-info-heading {
  border-bottom: 1px solid rgba(65, 65, 65, 0.3);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.register-form-button {
  margin-top: 60px;
}

/* edit product page */

.form-flex {
  display: flex;
}

#edit-firstname,
#edit-lastname,
#shop-by-category,
#description-editform {
  display: block;
  width: 540px;
  height: 38px;
  border: 1px solid rgba(65, 65, 65, 0.3);
  margin-top: 15px;
  margin-bottom: 35px;
  font-family: roboto;
  font-size: 18px;
  color: #212121;
}

.form-flex {
  margin: 0 250px;
}

.edit-product-form {
  margin-right: 20px;
}

.edit-save {
  width: 100px;
  height: 40px;
  background-color: #80bf32;
  color: white;
  border: none;
  font-size: 17px;
  font-family: roboto;
  border-radius: 3%;
  margin-right: 5px;
  margin-left: 290px;
  margin-top: 35px;
}

.edit-cancel {
  width: 100px;
  height: 40px;
  background-color: #f14d54;
  color: white;
  border: none;
  font-size: 17px;
  font-family: roboto;
  border-radius: 3%;
}

.edit-page-header {
  text-align: center;
  font-size: 32px;
  color: #414141;
  font-family: roboto;
  font-weight: 600;
  margin: 50px 0 25px 0;
}

.fl-name {
  margin: 0 20px 0 40px;
}

.edit-first-name-input label,
.shop-by-category label,
.edit-last-name-input label,
.edit-description label,
.fl-name label {
  font-family: roboto;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  height: 40px;
  width: 120px;
  background-color: #f14d54;
  padding: 10px 30px;
  color: white;
  font-family: roboto;
}

.file-upload {
  border: 1px solid rgba(65, 65, 65, 0.3);
  width: 540px;
  padding: 10px 0px;
  margin-top: 30px;
  margin-left: 288px;
  font-family: roboto;
}

.down-ar {
  margin-left: 372px;
  position: absolute;
  padding-top: 51px;
  cursor: pointer;
}

/* product final page css */

.product-final-header {
  font-size: 32px;
  font-family: roboto;
  color: #414141;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.product-final-add-product-btn {
  width: 100px;
  height: 40px;
  color: white;
  background-color: #f14d54;
  font-size: 14px;
  border: none;
  font-family: roboto;
  border-radius: 4px;
}

.product-final-add-product-input {
  width: 300px;
  height: 37px;
  font-family: roboto;
  font-size: 14px;
  border: 1px solid rgba(65, 65, 65, 0.5);
  padding-left: 10px;
  font-weight: 300;
  margin-right: 10px;
}

.product-final-add-product {
  text-align: end;
  margin-right: 295px;
  margin-top: 45px;
  margin-bottom: 32px;
}

.btn-pf-green {
  width: 80px;
  height: 30px;
  color: #80bf32;
  border: 1px solid #80bf32;
  background: none;
  border-radius: 4px;
  margin-right: 10px;
}

.btn-pf-red {
  width: 80px;
  height: 30px;
  color: #f14d54;
  border: 1px solid #f14d54;
  background: none;
  border-radius: 4px;
}

.product-final-list table tr th,
.product-final-list table tr td {
  border-bottom: 1px solid rgba(65, 65, 65, 0.5);
  margin-bottom: 20px;
}

.product-final-list table tr {
  height: 64px;
}

.product-final-list table {
  width: 1090px;
  margin-left: 300px;
  font-size: 14px;
  font-family: roboto;
  color: #212121;
}

.btn-pf {
  text-align: end;
}

.product-final-list table tr th {
  text-align: left;
}

.reverse-arrow {
  transform: rotate(180deg);
  position: absolute;
  margin: 6px 0px 0px 20px;
}

.page-nav {
  text-align: end;
  margin-top: 28px;
  margin-right: 340px;
}

.page-nav span button {
  width: 49px;
  height: 30px;
  text-align: start;
  padding: 0 0 0 10px;
  background: none;
  border: 1px solid rgba(65, 65, 65, 0.5);
}

.forward-arrow {
  position: absolute;
  margin: 10px 0px 0px 63px;
}

.pn-down {
  position: absolute;
  margin: 13px 25px 0 -18px;
}

.page-nav span {
  margin-right: 35px;
}

/*  cart page css */

.cart-page-header {
  font-size: 32px;
  color: #414141;
  font-family: roboto;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.cart-item-count {
  font-size: 18px;
  color: #414141;
}

.cart-item-m-total {
  font-size: 15px;
  color: #414141;
}

.cart-items-total {
  display: flex;
  justify-content: space-between;
  width: 585.2px;
  margin-bottom: 12px;
}

.cart-items {
  margin-left: 550px;
}

.cart-item-card {
  width: 585.2px;
  height: 149.2px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  display: flex;
}

.cart-item-img img {
  width: 150px;
  height: 117.2px;
  margin: 15px 0 0 15px;
}

.cart-item-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 15px;
}

.btn-add,
.btn-minus {
  width: 20px;
  height: 20px;
  background-color: #f14d54;
  border: none;
  color: white;
  border-radius: 2px;
  margin-right: 10px;
}

.btn-item-show {
  width: 20px;
  height: 20px;
  background: none;
  border: 1px solid rgba(65, 65, 65, 0.5);
  cursor: default;
  margin-right: 10px;
}

.cart-item-remove button {
  font-size: 15px;
  border: none;
  background: none;
  color: #f14d54;
}

.item-offer span {
  color: #f14d54;
}

.cart-item-name {
  margin-bottom: 10px;
}

.cart-item-desc {
  margin-bottom: 15px;
  color: #f14d54;
  font-size: 15px;
}

.cart-item-price,
.item-offer,
.cart-item-remove {
  text-align: end;
}

.cart-item-price {
  margin-bottom: 10px;
}

.item-offer {
  margin-bottom: 15px;
}

.item-offer strike {
  margin-right: 8px;
}

.cart-item-details {
  margin-top: 15px;
}

.place-order-btn button {
  height: 139.75px;
  height: 40px;
  background-color: #f14d54;
  color: white;
  font-size: 18px;
  margin-left: 550px;
  border: none;
  border-radius: 2px;
  padding: 5px 20px;
  margin-top: 5px;
}

/* product listing css */

.product-list-heading {
  text-align: center;
  font-size: 32px;
  color: #414141;
  font-family: roboto;
  margin-top: 50px;
  margin-bottom: 25px;
  font-weight: 600;
}

.product-list-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.product-list-items-ack {
  display: flex;
  justify-content: space-between;
  width: 968px;
  margin-top: 50px;
}

.product-list-items-ack-total {
  font-size: 18px;
  font-family: roboto;
  color: #414141;
}

.product-list-items-ack-nav {
  color: #414141;
  font-weight: 300;
}

.product-list-items-ack-nav button {
  width: 200px;
  height: 40px;
  border: 1px solid rgba(65, 65, 65, 0.5);
  background: none;
  display: inline;
  border-radius: 4px;
  margin-right: 78px;
}

.product-list-items-ack-nav button img {
  display: inline;
}

.list-card {
  display: flex;
  width: 1050px;
  flex-wrap: wrap;
  margin-top: 45px;
}

.list-card-items {
  width: 227.67px;
  height: 400.67px;
  margin: 0 15px;
  border: 1px solid rgba(65, 65, 65, 0.5);
  border-radius: 10px;
  margin-bottom: 30px;
}

.list-card-items img {
  border-radius: 10px 10px 0 0;
  width: 227.67px;
  height: 188.5px;
}

.list-card-details-subtitle {
  margin-top: 3px;
  font-size: 15px;
  color: #838383;
}

.list-card-details {
  padding-left: 10px;
}

.list-card-details-desc {
  font-size: 15px;
  margin-top: 10px;
}

.list-card-details-offer {
  margin-top: 5px;
}

.list-card-details-btn {
  font-size: 17px;
  color: white;
  background-color: #f14d54;
  border: none;
  border-radius: 4px;
  width: 207.67px;
  height: 40px;
  margin-top: 10px;
}

.list-card-details-offer {
  color: #414141;
}

.list-card-details-offer span {
  color: #80bf32 !important;
}

.list-item-navbar-1st-arrow {
  transform: rotate(180deg);
}

.list-item-navbar span {
  margin: 25px;
  padding: 9px 14px;
  border-radius: 50%;
}

.list-item-navbar {
  text-align: center;
  margin-top: 40px;
}

.on-page-user {
  background-color: #f14d54;
  color: white;
}